<!-- <a class="list-group-item list-group-item-action clearfix mb-2" (click)="onClickRecipe()"> -->
<a [routerLink]="[index]" class="list-group-item list-group-item-action clearfix mb-2">
  <div class="float-left">
    <h4 class="card-title">{{recipe.name}}</h4>
    <p class="card-text">{{recipe.description}}</p>
  </div>
  <div class="float-right">
    <img class="card-img-top img-thumbnail" [src]="recipe.imagePath" style="max-height: 100px; max-width: 150px;" alt="Card image cap">
  </div>
</a>